html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

.container {
  background-color: #45badd;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./robot.gif");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

#button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: white;
  background-color: #ff3482;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

#button:hover {
  filter: brightness(90%);
}

#button:active {
  transform: scale(0.95);
}

#button:disabled {
  cursor: default;
  filter: brightness(35%);
}

@media screen and (max-width: 600px) {
  .container {
    justify-content: flex-start;
    background-size: auto;
    background-position: bottom center;
  }

  #button {
    margin-top: 20vh;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.5);
  }
}
