@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  background: whitesmoke;
}

.title {
  text-align: center;
  margin: 10px 0px;
  font-size: 3rem;
}

/* Loader */
.loader {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image container */
.image-container {
  margin: 0px 20%;
}

.image-container img {
  width: 100%;
  margin-top: 10px;
}

/* Mobile */
@media screen and (max-width: 1000px) {
  .title {
    font-size: 2rem;
  }
  .image-container {
    margin: 0px 5%;
  }
}
